{% extends 'base.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load bootstrap5 %}
{% block title %}Смена пароля{% endblock %}

{% block content %}
<div class="d-flex flex-column align-items-center px-3 pb-5 pt-5 overflow-auto" style="width: 100%;">
  <div class="card" style="width: 30rem">
    <div class="card-header text-center pt-3">
      <h5 class="fw-light">Для изменения пароля заполните форму</h5>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}

          {% bootstrap_form form show_label=False %}
          {% buttons %}
          <div class="d-grid gap-2">
              <button class="btn btn-outline-primary" type="submit"><i class="bi bi-exclamation-triangle pe-2"></i>Изменить пароль</button>
          </div>
          {% endbuttons %}
      </form>
    </div>
  </div>
</div>
{% endblock %}