{% extends 'base.html' %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}Профиль {{ user.username }}{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="d-flex flex-column align-items-center px-3 pb-5 overflow-auto" style="width: 100%;">
    <div class="card mt-5 shadow" style="width: 40rem;">
        <div class="card-header bg-primary text-light bg-gradient pb-3">
            <h5 class="card-title pt-3 ps-3"><a class="btn-link link-light link-offset-2 link-offset-3-hover" href="{% url 'accounts:user_profile' user.username %}">{{ user.first_name }} {{ user.last_name }}</a></h5>
                <div class="card-text ps-3">
                    {% if user.is_superuser %}
                        <small class="badge bg-light text-primary"># administrator</small>
                    {% endif %}
                </div>
                <div class="card-text ps-3">
                    {% for group in user.groups.all %}
                        <span class="badge bg-light text-primary">{{ group }}</span>
                    {% endfor %}
                </div>
        </div>
        <div class="card-body text-center">
        <!-- BOOTSTRAP FORM -->
            <div class="input-group mb-3"
                 data-bs-toggle="tooltip"
                 data-bs-placement="top"
                 data-bs-html="true"
                 data-bs-title="<b>username</b>: имя пользователя для входа">
                <span class="input-group-text" id="username_addon"><i class="bi bi-at text-muted"></i></span>
                <input disabled
                       type="text"
                       name="username"
                       value="{{ user.username }}"
                       maxlength="30"
                       class="form-control"
                       required=""
                       id="id_username"
                       aria-label="Username"
                       aria-describedby="username_addon"
                >
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="email_addon">
                    {% if user.token.first.email_verified %}
                    <i class="bi bi-envelope-check text-muted"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       data-bs-html="true"
                       data-bs-title="Адрес <b>подтверждён</b>">
                    </i>
                    {% else %}
                    <i class="bi bi-envelope-exclamation text-danger"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       data-bs-html="true"
                       data-bs-title="Необходимо <b>подтвердить</b> адрес электронной почты"
                    ></i>
                    {% endif %}
                </span>
                <input disabled
                       type="email"
                       name="email"
                       value="{{ user.email }}"
                       maxlength="254"
                       class="form-control"
                       placeholder="Email"
                       required=""
                       id="id_email"
                       aria-label="Email"
                       aria-describedby="email_addon"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       data-bs-html="true"
                       data-bs-title="<b>email</b>: адрес электронной почты"
                >
                {% if user.token.first.email_verified is False %}
                <a class="btn btn-outline-secondary"
                   data-bs-toggle="tooltip"
                   data-bs-placement="top"
                   data-bs-html="true"
                   data-bs-title="Отправить письмо с ссылкой для подтверждения <b>адреса</b>"
                   href="{% url 'accounts:email-verified' %}"
                >
                    <i class="bi bi-send"></i></a>
                {% endif %}
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="first_name_addon"><i class="bi bi-person-lines-fill text-muted"></i></span>
                <input disabled
                       type="text"
                       name="first_name"
                       value="{{ user.first_name }}"
                       maxlength="128"
                       class="form-control"
                       placeholder="First name"
                       required=""
                       id="id_first_name"
                       aria-label="First name"
                       aria-describedby="first_name_addon"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       data-bs-html="true"
                       data-bs-title="<b>first_name</b>: Имя"
                >

                <input disabled
                       type="text"
                       name="last_name"
                       value="{{ user.last_name }}"
                       maxlength="128"
                       class="form-control"
                       placeholder="Last name"
                       required=""
                       id="id_last_name"
                       aria-label="Last name"
                       aria-describedby="last_name_addon"
                       data-bs-toggle="tooltip"
                       data-bs-placement="top"
                       data-bs-html="true"
                       data-bs-title="<b>last_name</b>: Фамилия"
                >
            </div>
        </div>
        <div class="card-footer text-center">
            {% buttons %}
            <a href="{% url 'accounts:change-password' %}" class="btn btn-outline-primary mt-2"><i class="bi bi-lock pe-2"></i>Изменить пароль</a>
            <a href="{% url 'accounts:update' %}" class="btn btn-outline-primary mt-2"><i class="bi bi-person-lines-fill pe-2"></i>Редактировать</a>
            {% if user.is_superuser %}
              <a href="{% url 'accounts:delete' %}" class="btn btn-outline-primary mt-2"><i class="bi bi-person-x-fill pe-2"></i>Удалить</a>
            {% endif %}
            {% endbuttons %}
        </div>
    </div>
</div>
{% else %}
{% endif %}
{% endblock %}