{% extends 'base.html' %}
{% load bootstrap5 %}
{% load markdown_extras %}
{% load tag_extras %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}{{ profile.first_name }} {{ profile.last_name }}{% endblock %}
{% block content %}
<div class="d-flex flex-column align-items-center px-3 pb-5 overflow-auto" style="width: 100%;">
    <div class="card mt-5 shadow" style="width: 60rem;">
        <div class="card-header bg-primary bg-gradient text-light border-none pb-3">
            <h5 class="card-title pt-3 ps-4">{{ profile.first_name }} {{ profile.last_name }}</h5>
            <a class="link-light text-decoration-none ps-4 mb-2" href="mailto:{{ profile.email }}"><i class="bi bi-envelope pe-1"></i> {{ profile.email }}</a>
                <div class="card-text ps-4 mt-2">
                    {% for group in profile.                                                                                                                                                                                                                                                                                                                                                                                                    groups.all %}
                        <span class="badge bg-light text-primary">{{ group }}</span>
                    {% endfor %}
                </div>
        </div>
        <div class="card-body" style="min-height: 30rem">
          <h5 class="card-text ps-3">Участие в мероприятиях:</h5>
          {% for guest in profile.guest_set.all %}
            {% if guest.status == 'REGISTERED' or guest.status == 'VISITED' %}
              <div class="p-3">
                <div><span class="text-muted pe-1">Название мероприятия:</span><a class="link-primary link-offset-3"  href="{% url 'events:event-detail' guest.event.id %}">{{ guest.event.title }}</a></div>
                <div><span class="text-muted pe-1">Дата регистрации:</span>{{ guest.registered_time }}</div>
                {% if guest.status == 'VISITED' %}
                  <div><span class="text-muted pe-1">Дата посещения:</span>{{ guest.visited_time }}</div>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        </div>
    </div>
</div>

{% endblock %}