{% extends 'base.html' %}
{% load bootstrap5 %}
{% load markdown_extras %}
{% load tag_extras %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% block title %}{{ event.title }}{% endblock %}

{% block content %}
<div class="d-flex justify-content-center align-items-start mx-auto" style="width: 80rem; overflow-y: auto">
  <div class="card mt-3 me-2 shadow" style="width: 70%;min-height: 40rem;">
    <div class="card-header text-center bg-primary bg-gradient text-light p-3">
      <h4 class="card-title fw-light">{{ event.title }}</h4>
      <h5 class="fw-light"><i class="bi bi-calendar-range pe-2"></i> {{ event.start_time }} {{ event.start_date }} <i class="bi bi-dash-lg"></i> {{ event.end_time }} {{ event.end_date }}</h5>
    </div>
    <div class="card-body" style="overflow-y: auto; max-height: 40rem">
      <p class="card-text">{{ event.description | markdown | safe }}</p>
    </div>
    <div class="card-footer text-center">
      {% if guest.status == 'REGISTERED' or guest.status == 'VISITED' %}
      <i class="bi bi-info-circle pe-2"></i><span class="text-muted">Вы уже зарегистрированы на это мероприятие.</span>
      {% endif %}
      <div class="btn-group btn-group-lg p-3" role="group" aria-label="Events button group">
      {% if user.is_staff or user.is_superadmin %}
        <a class="btn btn-outline-primary" href="{% url 'events:add-an-event-guest' event.id %}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Добавить нового гостя"><i class="bi bi-person-add"></i></a>
        <a class="btn btn-outline-primary" href="{% url 'events:event-delete' event.id %}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Удалить мероприятие"><i class="bi bi-calendar-x"></i></a>
        <a class="btn btn-outline-primary" href="{% url 'events:event-update' event.id %}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Изменить мероприятие"><i class="bi bi-pen"></i></a>
        <a class="btn btn-outline-primary" href="{% url 'events:event-tasks' event.id %}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Задания для организаторов"><i class="bi bi-list-task"></i></a>
        {% if guest.status != 'REGISTERED' %}
        <a class="btn btn-outline-primary" href="{% url 'events:register-for-the-event' event.id %}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Принять участие"><i class="bi bi-person-check"></i></a>
        {% else %}
        <a class="btn btn-outline-primary" href="{% url 'events:cancel-registration' guest.id %}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Не смогу присутствовать"><i class="bi bi-person-dash"></i></a>
        {% endif %}
      {% else %}
        {% if not guest.status %}
        <a class="btn btn-outline-primary" href="{% url 'events:register-for-the-event' event.id %}">Принять участие</a>
        {% elif guest.status == 'REGISTERED' %}
        <a class="btn btn-outline-primary" href="{% url 'events:cancel-registration' guest.id %}">Не смогу присутствовать</a>
        {% elif guest.status == 'VISITED' %}

        {% endif %}
      {% endif %}
      </div>

    </div>
  </div>
  {% if user.is_staff or user.is_superadmin %}
  <div class="card shadow mb-3 mt-3" style="width: 30%; min-height: 40rem">
    <div class="card-header text-center bg-primary bg-gradient text-light">
      <a class="link-light link-offset-3" href="{% url 'events:guest-list' event.id %}"><h5 class="card-title fw-light ">Список участников</h5></a>
    </div>
    <div class="card-body text-start" style="overflow-y: auto; max-height: 40rem">
      <div id="managers" class="ps-3 mb-3">
        <div class="fw-bold mb-3">Организаторы:</div>
        {% for guest in event.get_managers %}
          <p class="card-text">{{ guest.status | guest_icon | safe }}<a class="link-primary link-offset-3" href="{% url 'accounts:user_profile' guest.person.username %}">{{ guest.person.first_name }} {{ guest.person.last_name }}</a></p>
        {% empty %}
          <p class="fw-light ps-3">не зарегистрированы</p>
        {% endfor %}
      </div>
      <div id="guests" class="ps-3">
        <div class="fw-bold mb-3">Гости:</div>
        {% for guest in event.get_guests %}
          <p class="card-text">{{ guest.status | guest_icon | safe }}<a class="link-primary link-offset-3" href="{% url 'accounts:user_profile' guest.person.username %}">{{ guest.person.first_name }} {{ guest.person.last_name }}</a></p>
        {% empty %}
          <p class="fw-light ps-3">не зарегистрированы</p>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}